:root{
  font-size: 16px;
}
html{
scroll-behavior: smooth;
--bg-second: #2A2D34; /**black**/
--bg-button:#2A2D34;
--bg-first: #EE6352; /**orange**/
--bg-third: #F8F4E3; /**white**/
}
body{
  background: var(--bg-third);
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Staatliches', cursive;
  margin:0;
}
/* Require for scale width */
@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
::-webkit-scrollbar {
    display: none;
}
.top
{
  width: 100%;
  height: auto;
text-align: center;
}
.navbar
{
  z-index: 998;
  margin-right: 0.3rem;
  position: fixed;
  right: 0;
  background-color: var(--bg-second);
  transition: width 250ms ease-out;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  opacity: 0;
}

.items
{
  width: 100%;
}

.link
{
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  filter: grayscale(100%) opacity(0.7);
  border-radius: 10px;
  transition: 400ms;
}
.link:hover
{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-button);
  color: var(--bg-first);
}
.link:active
{
  background: var(--bg-first);
  color: var(--bg--third);
}
.link-text
{
  display: none;
  margin-left: 1rem;
}
.link svg
{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.menu svg
{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.menu
{
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 5rem;
  filter: grayscale(100%) opacity(1);
  border-radius: 10px;
  transition: 500ms;
}
.menu:hover
{
  background: var(--bg-button);
  color: var(--bg-first);
  cursor: pointer;
}
#menu-cb:checked + .nav {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fp
{
  padding: 25vh 6%;
  font-size:calc(16px + 3vw);
  line-height: 0.5;
  font-weight: 400;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Open Sans';
}
.home {
  background-image: url(../img/gallery/photos/20210620_183502.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  z-index: 999;
}
.welcome
{
  line-height: 1;
  font-size:calc(10px + 2vw);
  color: rgb(230, 233, 224);
}
header{
  background:transparent;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-name
{
  font-family: 'Bebas Neue';
  color: var(--bg-third);
  margin: 0;
}
header a
{
  text-decoration: none;
  color: #F8F4E3;
}
.home h1{  color: var(--bg-first);}
.home h1:first-child
{
  line-height: 0.5;
}
.home-container
{
  border: 0.3rem solid rgb(216, 214, 214);
  padding: 0 1rem;
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
}
#name
{
  line-height: 0.1;
}

.home button{
  background: #EE6352;
  padding: calc(2px + 0.4vw);
  color: var(--bg-third);
  font-family: "Open Sans";
  font-size: calc(6px + 1.8vw);
  border-style: none;
  box-shadow: 2px 2px 5px rgba(102,102,102,0.5 );
  transition: background 0.25s;
}
.home button:hover{cursor: pointer;
background: #E93820;
-webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
        transform: scale(0.97);
}
.home button:active{background: #E93820;}
.bio
{
  position: relative;
  z-index: 1;
  background: var(--bg-second);
}
.bio h1
{
  text-align: center;
  line-height: 1;
  color: var(--bg-third);
}
.hi h2
{
  color: var(--bg-third);
}
.bio ul
{
  list-style: square;
}
.bio li
{
    color: #FF836F;
}
.gallery
{
  background: var(--bg-third);
  position: relative;
  z-index: 1;
}
.gallery h1
{
  color: var(--bg-first);
}
.gallery h2
{
  font-weight: lighter;
 color: var(--bg-second);
}
.digital-container
{
  position: relative;
  z-index: 2;
}
.photos-container
{
  position: relative;
}
.pic
{
  position: absolute;
  top:0;
  left:0;
}
.pic1
{
  background-image: url(../img/gallery/photos/IMG_20210513_195518.jpg);
  background-size: contain;
  z-index: 6;
  transition: 400ms;
}
.pic2
{
  background-image: url(../img/gallery/photos/IMG_20210614_153448.jpg);
  background-size: contain;
  z-index: 4;
  transition: 400ms;
}
.pic3
{
  background-image: url(../img/gallery/photos/IMG_20210215_143615.jpg);
  background-size: contain;
  z-index: 3;
  transition: 400ms;
}
.connect
{
  background: #ff826f;
  text-align: center;
  position: relative;
  z-index: 1;
}
.connect h1
{
  position: relative;
  z-index: 2;
  color: var(--bg-second);
  line-height: 0.5;
}
.connect h2
{
  position: relative;
  z-index: 2;
  line-height: 1;
  color: var(--bg-third);
}
.connect-button
{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15vh auto auto auto;
}
.connect button
{
  position: relative;
  z-index: 2;
  border-radius: 50%;
  border: none;
  transition: 250ms;
  box-shadow: 4px 4px 7px rgba(0,0,0,0.5 );
}
.connect button:hover
{
  cursor: pointer;
  transform: scale(1.1);
}
.facebook
{
  background: white;
  background-image: url(../img/button/facebook.png);
  background-size: contain;
}
.telegram
{
  background: white;
  background-image: url(../img/button/telegram.png);
  background-size: contain;
}
.instagram
{
  background: white;
  height: auto;
  background-image: url(../img/button/instagram1.png);
  background-size: cover;
  position: relative;
}
.youtube
{
  background: #FF0000;
  background-image: url(../img/button/youtube1.png);
  background-size: contain;
}
.email
{
  background: white;
  background-image: url(../img/button/email1.png);
  background-size: contain;
}
footer
{
  font-family: 'Open Sans';
  width: 100%;
  height: 5vh;
  color: var(--bg-third);
  background: var(--bg-second);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
footer a
{
  text-decoration: none;
  color: var(--bg-first);
}
footer a:hover
{
  color: #F49B90;
}
footer a:active
{
  color: #F07A6A;
}
.love
{
  cursor: default;
}

/* Mobiles device */
@media only screen and (max-width : 600px) {
.navbar
{
  width: 2rem;
}
.navbar:hover {
  width: 8.5rem;
}

.navbar:hover .link-text {
  display: inline;
}
.link svg
{
  width: 1rem;
  min-width: 1em;
  margin: 0 0.45rem;
}
.link {height: 2rem;}
.menu {height: 2rem;}
.menu svg
{
  width: 1rem;
  min-width: 1rem;
  margin: 0 0.45rem;
}
.navbar
{
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}
header
{
  height: 4rem;
}
.page-name
{
  font-size: 1.5rem;
}
.home-container h1
{
  line-height: 1;
  font-size:calc(20px + 3vw);
}
.home
{
  box-shadow: inset 0 0 70px black;
}
.bio
{
  display: flex;
  flex-direction: column;
}
.bio h1
{
  font-size: 4rem;
  line-height: 0.5;
}
.hi-temp
{
  display: none;
}
.skew-box
{
  width: 100vw;
  height: 50vh;
  transform: skewX(-45deg);
  box-shadow: 4.5px 4.5px 7px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}
.skew-box-reverse
{
  width: 100vw;
  height: 50vh;
  transform: skewX(-45deg);
  box-shadow: -4.5px 4.5px 7px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 2;
}
@keyframes move-one {
  from
  {
    left: -80vw;
  }
  to
  {
    left: -90vw;
  }
}
@keyframes move-two {
  from
  {
    left: -110vw;
  }
  to
  {
    left: -120vw;
  }
}
@keyframes move-three {
  from
  {
    right: -93vw;
  }
  to
  {
    right: -100vw;
  }
}
@keyframes move-four {
  from
  {
    right: -123vw;
  }
  to
  {
    right: -130vw;
  }
}
.bio-one
{
  top:0;
  left: -80vw;
  background: #FF836F;
  animation: move-one 1000ms ease-in-out alternate infinite;
}
.bio-two
{
  top:0;
  left: -110vw;
  background: var(--bg-third);
  animation: move-two 1000ms 200ms ease-in-out alternate infinite;
}
.bio-three
{
  bottom: 0;
  right: -93vw;
  background: var(--bg-third);
  animation: move-three 1000ms ease-in-out alternate infinite;
}
.bio-four
{
  bottom: 0;
  right: -123vw;
  background: #FF836F;
  animation: move-four 1000ms 200ms ease-in-out alternate infinite;
}
.bio h2
{
  font-size: 3rem;
  line-height: 0;
}
.bio li
{
  font-size: 1.2rem;
  line-height: 1.2;
}
.hi
{
  margin-bottom: 5vh;
  width: 80vw;
  text-align: center;
  border-bottom: 5px solid white;
}
.hi h1
{
  line-height: 0.4;
}
.gallery
{
  color: var(--bg-first);
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.gallery h2 
{
  font-size: 1.5rem;
}
.gallery h1{
  font-size: 2.7rem;
  font-weight: 400;
  padding-bottom: 8vh;
  margin: 0;
}
.digital
{
  text-align: center;
}
.digital img
{
  width: 7rem;
  height: auto;
  transition: 400ms;
  box-shadow: 0 0 20px rgba(102,102,102,0.5);
  cursor: pointer;
}
.digital-container
{
  margin-bottom: 4vh;
}
.photos
{
  margin-top: 10vh;
}
.photos-container
{
  width: 10rem;
  height: 7.5rem;
  margin: 5vh auto 0 auto;
}
.pic
{
  width: 10rem;
  height: 7.5rem;
  border: 0.13rem solid white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.pic1
{
  transform: translate(-1vh, -1vh);
}
.pic3
{
  transform: translate(1vh,1vh);
}
.gallery-container > .circle
  {
    width: 10px;
    height: 10px;
    position: absolute;
    transform: scale(0);
    background: transparent;
    border: 1px solid var(--bg-second);
    z-index: 1;
    animation: circle 10000ms ease-in forwards infinite;
  }
  .gallery-container > .circle:nth-child(3)
  {
    top: 75vh;
    right: 10vw;
  }
  .gallery-container > .circle:nth-child(5)
  {
    animation-delay: 1.5s;
    left: 15vw;
    top: 10vh;
  }
  .gallery-container > .circle:nth-child(7)
  {
    animation-delay: 3s;
    left: 60vw;
    top: 18vh;
  }
  .gallery-container > .circle:nth-child(9)
  {
    animation-delay: 4.5s;
    left: 50vw;
    top: 90vh;
  }
 .gallery-container > .cube {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px rgb(255, 131, 111);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 9s ease-in forwards infinite;
  }
  .gallery-container > .cube:nth-child(1)
  {
    top: 50vh;
    right: 40vw;
  }
  .gallery-container > .cube:nth-child(2) {
    animation-delay: 1s;
    left: 10vw;
    top: 40vh;
  }
  .gallery-container > .cube:nth-child(4) {
    animation-delay: 2s;
    left: 80vw;
    top: 40vh;
  }
  .gallery-container > .cube:nth-child(6)
  {
    animation-delay: 3s;
    left: 80vw;
    top: 90vh;
  }
  .gallery-container > .cube:nth-child(8)
  {
    animation-delay: 4s;
    left: 10vw;
    bottom: 10vh;
  }
  .gallery-container > .cube:nth-child(10)
  {
    animation-delay: 5s;
    right: 10vw;
    top: 10vh;
  }
  @keyframes cube {
    from 
    {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
    }
    to {
      transform: scale(7) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
    }
  }
  @keyframes circle
  {
    from 
    {
      transform: scale(0);
      opacity: 1;
    }
    to 
    {
      transform: scale(6);
      opacity: 0;
    }
  }
.connect h1
{
  font-size: 15vw;
}
.connect h2
{
  font-size: 6vw;
}
.connect-button
{
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10vh auto auto auto;
}
.connect-button
{
  width: 80vw;
}
.connect button
{
  width: 12vw;
  height: 12vw;
  box-shadow: 2px 2px 3px rgba(102,102,102,0.5 );
}
.connect button:hover
{
  box-shadow: 3.5px 3.5px 4.5px rgba(102,102,102,0.5 );
}
.connect-container > .circle
  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--bg-third);
    position: absolute;
    transform: translateY(0);
    opacity: 0.7;
    z-index: 1;
  }
  .connect-container > .circle:nth-child(3), .connect-container > .circle:nth-child(5)
  {
    animation: gallery-circle-1 4000ms ease-in-out alternate infinite;
  }
  .connect-container > .circle:nth-child(3)
  {
    top: 100vh;
    right: 5vw;
  }
  .connect-container > .circle:nth-child(5)
  {
    animation-delay: 3s;
    left: 27vw;
    top: 100vh;
  }
  .connect-container > .circle:nth-child(7), .connect-container > .circle:nth-child(9)
  {
    animation: gallery-circle-2 4000ms ease-in-out alternate infinite;
  }
  .connect-container > .circle:nth-child(7)
  {
    left: 58vw;
    top: -10vh;
  }
  .connect-container > .circle:nth-child(9)
  {
    animation-delay: 2.5s;
    left: 5vw;
    top: -10vh;
  }
  .connect-container > .cube {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px var(--bg-second);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 10s ease-in forwards infinite;
  }
  .connect-container > .cube:nth-child(1)
  {
    top: 50vh;
    right: 40vw;
  }
  .connect-container > .cube:nth-child(2) {
    animation-delay: 2s;
    left: 50vw;
    top: 70vh;
  }
  .connect-container > .cube:nth-child(4) {
    animation-delay: 4s;
    left: 80vw;
    top: 40vh;
  }
  .connect-container > .cube:nth-child(6)
  {
    animation-delay: 6s;
    left: 50vw;
    top: 10vh;
  }
  .connect-container > .cube:nth-child(8)
  {
    animation-delay: 8s;
    left: 10vw;
    bottom: 10vh;
  }
  .connect-container > .cube:nth-child(10)
  {
    animation-delay: 10s;
    right: 10vw;
    top: 10vh;
  }
  .connect-container > .cube:nth-child(11)
  {
    animation-delay: 2s;
    right: 13vw;
    top: 90vh;
  }
  .connect-container > .cube:nth-child(12)
  {
    animation-delay: 4s;
    right: 50vw;
    top: 90vh;
  }
  .connect-container > .cube:nth-child(13)
  {
    animation-delay: 6s;
    right: 85vw;
    top: 5vh;
  }
  @keyframes gallery-circle-1
{
  from
  {
    transform: translateY(0);
  }
  to 
  {
    transform: translateY(-110vh);
  }
}
@keyframes gallery-circle-2
{
  from
  {
    transform: translateY(0);
  }
  to
  {
    transform: translateY(120vh);
  }
}
footer{
  font-size: 0.6rem;
}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-width : 1823px) {
  .navbar
  {
    width: 3.4rem;
  }
  .navbar:hover {
    width: 12rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }
  .link svg
  {
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.7rem;
  }
  .link {height: 3.4rem;}
  .menu {height: 3.4rem;}
  .menu svg
  {
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.7rem;
  }
  .navbar
  {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  header
  {
    height: 5rem;
  }
  .page-name
  {
    font-size: 3.2rem;
  }
  .home
  {
    box-shadow: inset 0 0 80px black;
  }
  .bio
  {
      line-height: 1.25;
  }
  .hi
  {
    float: left;
    width: 20vw;
  }
  .hi h1{
    font-size: 10vw;
    line-height: 0.1;
  }
  .hi h2
  {
    font-size: 6vw;
  }
  .hi
  {
    text-align: center;
    margin-right: 7vw;
    border-right: 0.5rem solid var(--bg-second);
  }
  .info
  {
    width: 65vw;
    float:right;
  }
  .bio li
  {
    font-size: 3.3vw;
  }
  .gallery
  {
    font-size: 2.3rem;
    text-align: center;
    display: flex;
  }
  .gallery button{
    padding: calc(2px + 0.4vw) calc(5px + 0.7vw);
    font-size: calc(6px + 1.4vw);
  }
  .gallery h1{
    font-size: 5.5rem;
  font-weight: 500;
  margin: 5vh 0 2rem 0;
  }
  .digital
  {
    float: left;
    margin-right: 9.5rem;
    text-align: center;
  }
  .digital img
  {
    width: 15rem;
    height: auto;
    transition: 400ms;
    box-shadow: 0 0 30px rgba(102,102,102,0.5);
    cursor: pointer;
  }
  .digital-container
  {
    width: 36.1vw;
    display: flex;
    justify-content: space-between;
  }
  .digital img:hover
  {
    transform: scale(1.2);
  }
  .photos
  {
    float: right;
    margin-left: 9.5rem;
    text-align: center;
    width: auto;
    height: 13.8rem;
  }
  .photos-container
  {
    width: 18.4rem;
    height: 13.8rem;
  }
  .pic
  {
    width: 18.4rem;
    height: 13.8rem;
    border: 0.3rem solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  }
  .photos-container:hover .pic1
  {
    transform: translate(-2vh, -2vh);
  }
  .photos-container:hover .pic3
  {
    transform: translate(2vh, 2vh);
  }
  .connect-button
  {
    width: 40vw;
    min-width: 350px;
  }
  .connect button
  {
    width: 5vw;
    height: 5vw;
    min-width: 50px;
    min-height: 50px;
  }
  .connect button:hover
  {
    box-shadow: 5px 6px 6px rgba(102,102,102,0.5 );
  }
  .instagram::after
  {
    left: -6.4vw;
  }
  .instagram::after
  {
    content: url(../img/button/nametag.png);
    background-image: url(../img/button/nametag.png);
    background-size: 18vw 18vw;
    display: block;
    position: absolute;
    bottom: 110%;
    width: 18vw;
    height: 18vw;
    content:"";
    transform: scale(0);
    transition: ease-in-out 300ms;
  }
  .instagram:hover::after
  {
    transform: scale(1);
  }
  }
/* Bigger screen like mine */
@media only screen  and (min-width : 1824px) {
  .navbar
  {
    width: 3.4rem;
  }
  .navbar:hover {
    width: 12rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }
  .link svg
  {
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.7rem;
  }
  .link {height: 3.4rem;}
  .menu {height: 3.4rem;}
  .menu svg
  {
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.7rem;
  }
  header
  {
    height: 6rem;
  }
  .page-name
  {
    font-size: 3.5rem;
  }
  .home
  {
    box-shadow: inset 0 0 100px black;
  }
  .bio
  {
    position: relative;
    line-height: 1.25;
  }
  .bio-skewbox-container
  {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    display: flex;
  }
  .hi-temp
  {
    position: absolute;
    left: 15vw;
    z-index: 3;
    align-self: center;
  }
  .hi-temp h1
  {
    color: var(--bg-third);
    font-size: 11vw;
    line-height: 0.1;
    transition: 400ms;
    transition-delay: 600ms;
  }
  .hi-temp h2
  {
    color: var(--bg-third);
    font-size: 6vw;
    transition: 400ms;
    transition-delay: 600ms;
  }
  .bio-skewbox-container > .skew-box
  {
    transform: skewX(-15deg);
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .skew-box-reverse
  {
    transform: skewX(-15deg);
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .bio-one
  {
    background: var(--bg-second);
    z-index: 2;
    left: -10vw;
    transition: 600ms;
    transition-delay: 600ms;
  }
  .bio-two
  {
    background: rgb(255, 131, 111);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.6);
    z-index: 4;
    left: -70vw;
    transition: 400ms;
  }
  .bio-skewbox-container:hover .bio-one
  {
    background: rgb(255, 131, 111);
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
    left: -70vw;
  }
  .bio-skewbox-container:hover .bio-two
  {
    background: rgba(248, 244, 227, 1);
    left: -90vw;
  }
  .bio-skewbox-container:hover .hi-temp h1
  {
    color: var(--bg-second);
  }
  .bio-skewbox-container:hover .hi-temp h2
  {
    color: var(--bg-second);
  }
  .hi
  {
    position: relative;
    z-index: 3;
    float: left;
    width: 20vw;
    text-align: center;
    margin-right: 6vw;
  }
  .hi h1{
    color: var(--bg-second);
    font-size: 10vw;
    line-height: 0.1;
  }
  .hi h2
  {
    color: var(--bg-second);
    font-size: 6vw;
  }
  .info
  {
    width: 55vw;
    float:right;
  }
  .bio li
  {
    color: var(--bg-third);
    font-size: 3vw;
  }
  .gallery
  {
    font-size: 3rem;
    text-align: center;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .gallery h1{
    position: relative;
    z-index: 3;
    font-size:calc(1.5rem + 4vw);
  font-weight: 400;
  margin-bottom: 3rem;
  }
  .gallery h2
  {
    position: relative;
    z-index: 2;
  }
  .digital
  {
    float: left;
    margin-right: 10rem;
    text-align: center;
  }
 .gallery-container > .circle
  {
    width: 10px;
    height: 10px;
    position: absolute;
    transform: scale(0);
    background: transparent;
    border: 1px solid var(--bg-second);
    z-index: 1;
    animation: circle 10000ms ease-in forwards infinite;
  }
  .gallery-container > .circle:nth-child(3)
  {
    top: 75vh;
    right: 10vw;
  }
  .gallery-container > .circle:nth-child(5)
  {
    animation-delay: 1.5s;
    left: 15vw;
    top: 10vh;
  }
  .gallery-container > .circle:nth-child(7)
  {
    animation-delay: 3s;
    left: 60vw;
    top: 18vh;
  }
  .gallery-container > .circle:nth-child(9)
  {
    animation-delay: 4.5s;
    left: 50vw;
    top: 90vh;
  }
 .gallery-container > .cube {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px rgb(255, 131, 111);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 8s ease-in forwards infinite;
  }
  .gallery-container > .cube:nth-child(1)
  {
    top: 50vh;
    right: 40vw;
  }
  .gallery-container > .cube:nth-child(2) {
    animation-delay: 1.3s;
    left: 10vw;
    top: 40vh;
  }
  .gallery-container > .cube:nth-child(4) {
    animation-delay: 2.6s;
    left: 80vw;
    top: 40vh;
  }
  .gallery-container > .cube:nth-child(6)
  {
    animation-delay: 3.9s;
    left: 50vw;
    top: 10vh;
  }
  .gallery-container > .cube:nth-child(8)
  {
    animation-delay: 5.2s;
    left: 10vw;
    bottom: 10vh;
  }
  .gallery-container > .cube:nth-child(10)
  {
    animation-delay: 6.5s;
    right: 10vw;
    top: 10vh;
  }
  @keyframes cube {
    from 
    {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
    }
    to {
      transform: scale(15) rotate(1080deg) translate(-50%, -50%);
    opacity: 0;
    }
  }
  @keyframes circle
  {
    from 
    {
      transform: scale(0);
      opacity: 1;
    }
    to 
    {
      transform: scale(10);
      opacity: 0;
    }
  }
  .gallery h2
  {
    color: var(--bg-second);
  }
  .gallery h1
  {
    color: var(--bg-first);
  }
  .digital img
  {
    width: 20rem;
    height: auto;
    transition: 400ms;
    box-shadow: 0 0 40px rgba(102,102,102,0.5);
    cursor: pointer;
    border: 0.3rem solid var(--bg-second);
  }
  .digital img:hover
  {
    transform: scale(1.2);
  }
  .digital-container
  {
    width: 36.1vw;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .photos
  {
    float: right;
    margin-left: 10rem;
    text-align: center;
    width: auto;
    height: 25rem;
  }
  .photos-container
  {
    width: 25rem;
    height: 18.75rem;
  }
  .pic
  {
    width: 25rem;
    height: 18.75rem;
    border: 0.3rem solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  }
  .photos-container:hover .pic1
  {
    transform: translate(-2vh, -2vh);
  }
  .photos-container:hover .pic3
  {
    transform: translate(2vh, 2vh);
  }  .connect h2
  {
    font-size: 3rem;
  }
  .connect-container > .circle
  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--bg-third);
    position: absolute;
    transform: translateY(0);
    opacity: 0.7;
    z-index: 1;
  }
  .connect-container > .circle:nth-child(3), .connect-container > .circle:nth-child(5)
  {
    animation: gallery-circle-1 4000ms ease-in-out alternate infinite;
  }
  .connect-container > .circle:nth-child(3)
  {
    top: 100vh;
    right: 10vw;
  }
  .connect-container > .circle:nth-child(5)
  {
    animation-delay: 3s;
    left: 15vw;
    top: 100vh;
  }
  .connect-container > .circle:nth-child(7), .connect-container > .circle:nth-child(9)
  {
    animation: gallery-circle-2 4000ms ease-in-out alternate infinite;
  }
  .connect-container > .circle:nth-child(7)
  {
    left: 60vw;
    top: -10vh;
  }
  .connect-container > .circle:nth-child(9)
  {
    animation-delay: 2.5s;
    left: 30vw;
    top: -10vh;
  }
  .connect-container > .cube {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px var(--bg-second);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 10s ease-in forwards infinite;
  }
  .connect-container > .cube:nth-child(1)
  {
    top: 50vh;
    right: 40vw;
  }
  .connect-container > .cube:nth-child(2) {
    animation-delay: 2s;
    left: 10vw;
    top: 40vh;
  }
  .connect-container > .cube:nth-child(4) {
    animation-delay: 4s;
    left: 80vw;
    top: 40vh;
  }
  .connect-container > .cube:nth-child(6)
  {
    animation-delay: 6s;
    left: 50vw;
    top: 10vh;
  }
  .connect-container > .cube:nth-child(8)
  {
    animation-delay: 8s;
    left: 10vw;
    bottom: 10vh;
  }
  .connect-container > .cube:nth-child(10)
  {
    animation-delay: 10s;
    right: 10vw;
    top: 10vh;
  }
  .connect-container > .cube:nth-child(11)
  {
    animation-delay: 2s;
    right: 13vw;
    top: 90vh;
  }
  .connect-container > .cube:nth-child(12)
  {
    animation-delay: 4s;
    right: 50vw;
    top: 90vh;
  }
  .connect-container > .cube:nth-child(13)
  {
    animation-delay: 6s;
    right: 85vw;
    top: 5vh;
  }
  .connect-container > .cube:nth-child(14)
  {
    animation-delay: 8s;
    right: 52vw;
    top: 57vh;
  }
  .connect-container > .cube:nth-child(15)
  {
    animation-delay: 10;
    right: 66vw;
    top: 81vh;
  }
  .connect-container > .cube:nth-child(16)
  {
    animation-delay: 2s;
    right: 10vw;
    top: 40vh;
  }
  @keyframes gallery-circle-1
{
  from
  {
    transform: translateY(0);
  }
  to 
  {
    transform: translateY(-110vh);
  }
}
@keyframes gallery-circle-2
{
  from
  {
    transform: translateY(0);
  }
  to
  {
    transform: translateY(120vh);
  }
}
  .connect-button
  {
    width: 40vw;
    min-width: 350px;
  }
  .connect button
  {
    width: 5vw;
    height: 5vw;
    min-width: 50px;
    min-height: 50px;
  }
  .connect button:hover
  {
    box-shadow: 7px 7px 10px rgba(0,0,0,0.5 );
  }
  .instagram::after
  {
    left: -6.4vw;
  }
  .instagram::after
  {
    content: url(../img/button/nametag.png);
    background-image: url(../img/button/nametag.png);
    background-size: 18vw 18vw;
    display: block;
    position: absolute;
    bottom: 110%;
    width: 18vw;
    height: 18vw;
    content:"";
    transform: scale(0);
    transition: ease-in-out 300ms;
  }
  .instagram:hover::after
  {
    transform: scale(1);
  }
}
